.git
.github
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.env
.env/
.venv/
venv/
*venv/

db.sqlite3
db.sqlite3-journal

staticfiles/
media/
mediafiles/

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

Dockerfile
docker-compose.yml
README.md
docs/